
*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: 'satoshi';
   color: black;
   scroll-behavior: smooth;
}
body {
   overflow-x: hidden;
   width: 100%;
}
::-webkit-scrollbar {
   width: 5px;
 }
 
 ::-webkit-scrollbar-track {
   background: #e0e0e0; 
 }

 ::-webkit-scrollbar-thumb {
   background: rgb(73, 73, 73); 
   border-radius: 20px;
   transition: 1s;

 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #F45800; 
 }
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3.1vw 7.8vw;
   height: 16vh;
   transition: 1s;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 10;

}
ul{
   display: flex;
   list-style:none;
}
li a{ 
   padding: 0 2.6vw;
   font-size: 1.1vw;
   font-weight: 700;
   color: grey;
   transition: 0.3s;
   text-decoration: none;
}
li a:hover {
   cursor: pointer;
}
.burger {
   display: none;
}
.burger div {
   width: 25px;
   height: 3px;
   background-color: #fff;
   margin: 5px;
   border-radius: 10px;
   transition: 0.5s;
}
@keyframes navLinkFade{
   from{
       opacity:0;
       transform: translateX(2.6vw);
   }
   to{
       opacity: 1;
       transform: translateX(0vw);
   }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg)translate(-5px,-6px);
}
.logo img{
   width: 4.1vw;
}
.sticky {
   
   top: 0;
   width: 100%;
   height: 2.6vw;
   transition: 1s;
   background-color: rgba(1, 1, 7, 0.795);
}

.active {
   color: #fff;
}
.works-active {
   color: #000;
}
.home {
   padding: 14vw 7.8vw;
   width: 100%;
   height: 110vh;
   background: url('background.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.home h3  {
   font-size: 1.3vw;
   color: #fff;
   font-weight: 700;
}
.home h1 {
   font-size: 4.6vw;
   color: #fff;
   font-weight: 900;
}
.home p {
   color: #F1F1F1;
   font-size: 1.5vw;
   width: 28vw;
}
.motto-con {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.circle-words {
 
   background-size: cover;

   display: flex;
   justify-content: center;
   align-items: center;
}
.circle-words img {
   width: 11.4vw;
   height: 11.4vw;
}
.circle-words h4 {
   font-size: 4.6vw;
   color: #fff;
   font-weight: 300;
}
.circle-words img {
   position: absolute; 
}
.home button{
   background: #F45800;
   width: 17.1vw;
   height: 4.1vw;
   border-radius: 2.6vw;
   font-size: 0.9vw;
   font-weight: 500;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1vw 0 2.1vw;
   margin-top: 2vw;
   transition: 1s;
   border: none;
   box-shadow: 0px 4px 8px rgba(244, 88, 0, 0.25);
}
.home button:hover{
   letter-spacing: 1px;
   cursor: pointer;
}
.home button p {
   font-size: 1vw;
   font-weight: 500;
   color: #fff;
}
.home button span{
   font-weight: 700;
   color: #fff;
}
.circle-btn {
   background-color: #CE4B01;
   width: 6.6vw;
   height: 2.6vw;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
}
.circle svg:hover{
   margin-left: 0.5vw;
}
.circle svg {
   width: 0.8vw;
   height: auto;
   transition: 1s;
}
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: none;
   border: 2px solid #fff;
}
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pulse{
   height: 5.2vw;
   width: 5.2vw;
   border: 2px solid #fff;
   position: absolute;
   margin: auto;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color: #ffffff;
   transform: translate(-50%, -50%);
   bottom: 2%;
   left: 50%;
}
.pulse:hover {
   cursor: pointer;
}
.pulse svg:hover {
   transform: scale(0.6);
}
.pulse:before,
.pulse:after{
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: #c0c0c03a;
   border-radius: 50%;
   z-index: -1;
   opacity: 0.7;
}
.pulse:before{
    animation: pulse 3s ease-out infinite;
}
.pulse:after{
    animation: pulse 3s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

.pulse svg {
   width: 1.3vw;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
}

.header {
   width: 100%;
   background-color: #fff;
   border-radius: 4.1vw 4.1vw 0 0 ;
   transform: translateY(-5vw);
   scroll-margin: 8.8vw;
}
/* ----------------------------Skills-------------------------------- */


.skills {
   width: 100%;
   height: 130vh;
   padding: 5vw 7.8vw;
}
.skills h3 {
   position: absolute;
   top: 2.5vw;
   left: 7vw;
   font-size: 800;
   color: rgba(204, 204, 204, 0.35);
   Font-size: 128px
}
.skills h2 {
   color: #363636;
   font-size: 2vw;
   font-weight: 800;
   padding: 1vw 0;
}
.skills p {
   z-index: -1;
   font-size: 24px;
   line-height: 50px;
   color: #424242;
   padding: 4vw 0;
}
.decorations{
   
   position: absolute;
   right: 0;
   top: 13%;
   z-index: -1;
}

.decorations img {
   width: 12vw;
}
.decorations-sec{
   
   position: absolute;
   left: 0;
   top: 21%;
   z-index: -1;
}

.decorations-sec img {
   width: 18vw;
}

.boxes-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0vw 0px;

}
.box {
   width: 22vw;
   height: 27.5vw;
   background-color: #eeeeee;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   transition: 1s;
}
.box:hover {
   transform: scale(1.1);
   box-shadow: 0px 0.2vw 0.2vw rgba(0, 0, 0, 0.49);
}
.box:hover .circle-icon {
   background-color: #fff;
}
.box:hover h1 {
   color: #FFF;
}
.box:hover h2 {
   color: #FFF;
}
.circle-icon {
   border: 2px solid #F45800;
   width: 7vw;
   height: 7vw;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1vw 0;
   background-color: none;
   transition: 0.5s;
}
.box h2 {
   color: #909090;
   font-size: 20px;
   font-weight: 400;
   text-align: center;
   width: 17.5vw;
   line-height: 35px;
   transition: 0.5s;
}
.box h1 {
   font-size: 26px;
   color: #3A3A3A;
   font-weight: 700;
   transition: 0.5s;
}
.box button {
   width: 10.25vw;
   height: 60px;
   border-radius: 45px;
   background-color: #F45800;
   color: #fff;
   font-size: 18px;
   border: none;
   font-weight: 500;
   margin: 10px 0;
   transition: 1s;
   box-shadow: 0px 4px 8px rgba(244, 88, 0, 0.25);
}
.box button span{
   font-weight: 600;
   color: #fff;
}
.box button:hover {
   cursor: pointer;
   letter-spacing: 2px;
}
.box:hover{
   background: #CE4B01;
   transform: scale(1.05);
}
.circle-icon svg path{
   fill: #F45800 ;
}

/* ----------------------------Portfolio-------------------------------- */
.portfolio{
   width: 100%;
   height: 100vh;
   padding: 0.5vw 2.5vw;
   background-color: #EEEEEE;
   background: url('background2.png');
   background-repeat: no-repeat;
   background-size: cover;
}
.portfolio h3 {
   position: absolute;
   top: 68vw;
   left: 6vw;
   font-size: 800;
   color: rgba(204, 204, 204, 0.534);
   Font-size: 128px;
   z-index: -1;
}
.portfolio h2 {
   color: #363636;
   font-size: 1.8vw;
   font-weight: 800;
   padding: 6vw 4vw;
}
.slider{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   overflow: hidden;
}
.slider-box{
   display: flex;
   position: absolute;
   width: 400vw;
   height: 100%;
   transition: transform 0.5s;
}
.port-container img{
   height: 30vw;

}
.port-container{
   width: 100vw;
   height: 100%;
   display: flex;
}
.port-text h1{
   font-size: 2.5vw;
   padding: 0 3.8vw;
}
.port-text p {
   font-size: 1vw;
   line-height: 2.4vw;
   padding: 1vw 4vw;

   color: #220707;
}

.port-text button {
   display: flex;
   justify-content: flex-end;

   border: none;
   font-size: 20px;
   font-weight: 500;
   transition:1s;
   padding: 0 4vw;
}
.port-text button:hover {
   letter-spacing: 2px;
   color: #000;
}
.arrow{
   z-index: 100;
   position: absolute;
   transform: translate(-80%,-80%);
   right: 0%;
   top: 35%;
}
.circle-slider {
   width: 6.2vw;
   height: 6.2vw;
   border: 1px solid #2F2F2F;
   border-radius: 50%;
   color: #2F2F2F;
   border: 1px solid #2F2F2F;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* -------------------CONTACT-------------------- */
.contact {
   width: 100%;
   height: 100vh;
   background-color: #EEEEEE;
   background: url('background3.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding: 7.5vw;
   z-index: 0;

}
.sides {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.contact h3 {
   position: absolute;
   top: 119vw;
   left: 7vw;
   font-size: 800;
   color: #cccccc28;
   Font-size: 128px;
   z-index: 1;
}
.contact h2 {
   z-index: 1;
   font-size: 1.4vw;
   color: #fff;
   font-weight: 700;
   transition: 0.5s;
   z-index: 2 !important;
}
.form-box input{
   display: flex;
   gap: 20%;
   width: 32vw;
   border: none;
   border-bottom: 1px solid #a8a8a8;

   background-color: rgba(0, 0, 0, 0);
   font-family: 'gilroy';
   
   font-family: 'satoshi';
   font-weight: 600;
   font-size: 1.5vw;

   margin: 2vw 0;

   color: #fff;
   outline: none;
   padding: 2vw 0;
   cursor: pointer;
}
input:focus{
   border-bottom: 3px solid #fff;
}
.error-text {
   color: rgb(255, 255, 255);
   display: none;
}
.error {
   color: #ff0000;
   display: block;
   font-weight: 700;
}
.contact button{
   background: #F45800;
   border: none;
   width: 16.5vw;
   height: 4vw;
   border-radius: 2.5vw;
   font-size: 0.9vw;
   font-weight: 500px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1vw 0 4vw;
   margin-top: 5vw;
   transition: 1s;
   box-shadow: 0px 4px 8px rgba(244, 88, 0, 0.25);
}
.contact button:hover{
   letter-spacing: 1px;
   cursor: pointer;
}
.contact button p {
   font-size: 1vw;
   font-weight: 500px;
   color: #fff;
}
.contact button span{
   font-weight: 700;
   color: #fff;
}
.circle {
   background-color: #CE4B01;
   width: 2.5vw;
   height: 2.5vw;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
}
.circle svg {
   width: 0.8vw;
   height: auto;
   transition: 1s;
}

.message-info h1{
   font-size: 3.2vw;
   color: #fff;
}
.message-info p{
   font-size: 1.6vw;
   color: #C3C3C3;
   font-weight: 600;
   padding: 0.5vw 0;
}
.message-info p span{
   color: #CE4B01;
 
}
.contact-links {
   padding: 1vw 0;
}
.link{
   display: flex;
   align-items: center; 
   padding: 0.75vw 0;
}
.link h4 {
   padding: 0 1vw;
   color: #686767;
   font-size: 1vw;
}
.link h4 span{
   color: #fff;
}
.accept-box {
   width: 300px;
   height: 300px;
   position: absolute;
   background-color: #CE4B01;
   display: none;
}
